html,
body {
    width: 100%;
    height: 100%;
}


/* Custom Button Styles */

.btn-dark {
    color: #fff;
    border-radius: 0; //background-color: rgba(0, 0, 0, 0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-light {
    color: #333;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}

.btn-lg-custom {
    width: 50px;
    height: 50px;
}


/* Side Menu */

#sidebar-wrapper {
    position: fixed;
    z-index: 1000;
    right: 0;
    overflow-y: auto;
    width: 250px;
    height: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: #222;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    position: fixed;
    z-index: 5;
    top: 0.5%;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
    padding: 1% 0px;
}

.btn-cls {
    padding: 5% 0px;
}


/*Into section styles*/

.title {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.intro {
    height: auto;
    margin: 0px auto;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.jquery_intro {
    background-color: #FDF73E;
    color: #000;
}

.axios_intro {
    background-color: #54176F;
    color: #fff;
}

.into-txt {
    padding: 1% 0%;
}


/*Table Section*/

.table-panel {
    margin-top: 100px;
}


/*Cards Styles*/

.cust_card {
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}

.cust_card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.modal_link {
    text-decoration: none;
    color: #000;
}

.modal_link:hover,
.modal_link:focus,
.modal_link:active {
    text-decoration: none;
}

.form_section {
    position: relative;
    top: 100px;
}